{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<div class="home-page">
    <div class="header text-white" style="background-image: url({% static 'images/earth.jpg' %})">
        <div class="d-flex align-items-center h-100">
            <div class="container">
                <h1 class="header__main font-weight-light">Quality code</h1>
                <h2 class="header__sub"><strong>for cosmic ideas</strong></h2>
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="header__message">We've travelled far across the app galaxy - from scaling MVPs to well rounded applications. Ambitious and driven by huge amounts of commerical experience, gained by working for successful startups and world class companies</p>

                        <button class="btn btn-primary">Contact Mission Control</button>
                        <span class="header__or">Or</span>
                        <a href="#" class="text-white text-underline header__link">see our past missions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reason-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 reason-section__item">
                    <h2 class="reason-section-header">A few reasons why <br />we might be the <br />right fit</h2>
                </div>
                <div class="col-lg-4 reason-section__item">
                    <img class="reason-section__img" src="{% static 'images/icons/heart.svg' %}" alt="">
                    <h3 class="reason-section__title">App building api</h3>
                    <p class="reason-section__message">We've developed the GoatAPI to facilitate your ideas into reality at warp speed.</p>
                </div>
                <div class="col-lg-4 reason-section__item">
                    <img class="reason-section__img" src="{% static 'images/icons/heart.svg' %}" alt="">
                    <h3 class="reason-section__title">Passionate dreamers</h3>
                    <p class="reason-section__message">We love our jobs, therefore we treat every project like it was our last</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 reason-section__item">
                    <img class="reason-section__img" src="{% static 'images/icons/heart.svg' %}" alt="">
                    <h2 class="reason-section__title">Rich experience</h2>
                    <p class="reason-section__message">As the startup veterans, we've seen it all and helped tons of companies grow.</p>
                </div>
                <div class="col-lg-4 reason-section__item">
                    <img class="reason-section__img" src="{% static 'images/icons/heart.svg' %}" alt="">
                    <h3 class="reason-section__title">Mutual partnership</h3>
                    <p class="reason-section__message">Always happy to share any kind of business or real life advice</p>
                </div>
                <div class="col-lg-4 reason-section__item">
                    <img class="reason-section__img" src="{% static 'images/icons/heart.svg' %}" alt="">
                    <h3 class="reason-section__title">Attention to schedule</h3>
                    <p class="reason-section__message">Deadline is our religion. Let's ship your MVP before the damn competition!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="app"></div>

{% endblock content %}
