{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<div class="home-page">
    <div class="header text-white" style="background-image: url({% static 'images/earth.jpg' %})">
        <div class="d-flex align-items-center h-100">
            <div class="container">
                <h1 class="header__main font-weight-light">Quality code</h1>
                <h2 class="header__sub"><strong>for cosmic ideas</strong></h2>
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="header__message">We've travelled far across the app galaxy - from scaling MVPs to well rounded applications. Ambitious and driven by huge amounts of commerical experience, gained by working for successful startups and world class companies</p>

                        <button class="btn btn-primary">Contact Mission Control</button>
                        <span class="header__or">Or</span>
                        <a href="#" class="text-white text-underline">See our past missions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="app"></div>

{% endblock content %}
