{% load static %}
<div class="splash-page">
    <div class="bg-image" style="background-image: url({% static 'images/space-splash.jpg' %})">
        <div class="container">
            <div class="header text-white">
                <h2>Thomas Shannon</h2>
                <div class="columns">
                    <div class="column col-lg-6 col-md-12">
                        <div class="box">
                            <div class="box-inner">
                                <h2>Likes</h2>
                                <ul class="list-unstyled">
                                    <li>splash pages</li>
                                    <li>compartmentalizing</li>
                                    <li>dev projects</li>
                                    <li>blogging</li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                    <div class="column col-lg-6 col-md-12">
                        <div class="box">
                            <div class="box-inner">
                                <h2>Dislikes</h2>
                                <ul class="list-unstyled">
                                    <li>inline <span style="font-weight: bold">styles</span></li>
                                    <li>repeating code</li>
                                    <li class="text-underline"><a id="confusing" href="javascript:void(0)" class="text-white" data-target=".nav-slider">confusing ui</a></li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>
                <!-- <div>
                    <img class="logo vue-logo" src="{% static 'images/logos/vue-test.svg' %}" alt="">
                    <img class="logo angular-logo" src="{% static 'images/logos/angular-test.svg' %}" alt="">
                    <img class="logo node-logo" src="{% static 'images/logos/nodejs.svg' %}" alt="">
                    <img class="logo laravel-logo" src="{% static 'images/logos/laravel.svg' %}" alt="">
                </div> -->
            </div>
        </div>
    </div>
</div>