@import "~bootstrap/scss/bootstrap";
@import "util/text-modifiers";
@import "pages/home";
@import "layout/nav";

// TODO change to bootstrap vars...

$primary: #3D72AC!important;

.text-primary {
    color: $primary;
}

.btn {
    font-weight: bold;
    border-radius: 2rem;
    border: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: #fff;
}

.btn-primary {
    background-color: $primary;
}