.main-nav {
    position: fixed;
    color: #fff;

    .main-nav__logo {
        font-size: 2rem;
        font-weight: 600;
        &--first {

        }

        &--second {

        }
    }

    li {
        font-size: 1.25rem;
        display: inline-flex;
        margin: 5px;
        font-weight: 300;

        a {
            color: #fff;
        }
    }
}