.text-white {
    color: #fff;
}

.text-underline {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: "Poppins";
}

p {
    font-weight: 300;
}

// 300,400,500,700

.font-weight-light {
    font-weight: 300!important;
}

.font-weight-regular {
    font-weight: 400!important;
}

.font-weight-medium {
    font-weight: 500!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.font-weight-thin {

}