{% load static %}

<header class="navbar bg-dark main-nav">
  <section class="navbar-section">
    <a href="/" class="btn btn-link text-light">Home</a>
    <a href="/blog" class="btn btn-link text-light">Blog</a>
    <a href="/projects" class="btn btn-link text-light">Projects</a>
  </section>
  <section class="navbar-center">
    <!-- centered logo or brand -->
  </section>
  <section class="navbar-section">
    <a href="/contact" class="btn btn-link text-light">Contact</a>
    <a href="#" class="btn btn-link text-light">Twitter</a>
    <a href="#" class="btn btn-link text-light">GitHub</a>
  </section>
</header>

<!-- <nav class="nav">
    <div class="container">
        <ul class="nav-link-container">
            <li class="d-inline-block"><a href="/">Home</a></li>
            <li class="d-inline-block"><a href="/blog">Blog</a></li>
            <li class="d-inline-block"><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav> -->
