$gray-bg: #F6F7F8;

$red: #EF787E;

.home-page {
    .header {
        background: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;

        &__main {
            font-size: 3rem;
        }

        &__sub {
            font-size: 2.75rem;
        }

        &__or {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &__message {
            font-size: 1rem;
        }

        &__link {
            font-size: 1.25rem;
        }
    }

    .reason-section {
        padding-top: 7rem;
        padding-bottom: 4rem;

        &__item {
            padding-bottom: 40px;
        }

        &__title {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &__img {
            height: 36px;
        }
    }

    .mission-section {
        padding-top: 3rem;
        position: relative;

        &__device {
            max-width: 300px;
            left: 250px;
            position: absolute;
            top: 20px;
        }

        &__content {
            left: 100%;
            position: relative;
        }

        &__bg {
            width: 90%;
            float: right;
            border-top-left-radius: 290px;
            border-bottom-left-radius: 290px;
            margin-bottom: 5rem;
        }

        &--pad {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }
    }

    .astronaut-section {
        &__container {
            display: table;
        }

        &__left {
                display: table-cell;
                width: 50%;
                padding-top: 10rem;
                padding-bottom: 10rem;
                background-color: $gray-bg;

                &--pad {
                    padding: 0 10rem 0 10rem;
                }
            }

        &__right {
            display: table-cell;
            width: 50%;
        }

        &__right {
            background-repeat: no-repeat;
            background-position: 100% 50%;
            background-size: 100%;
        }
    }

    .service-cta-section {
        padding: 5rem 0 5rem 0;
    }

    .btn {
        min-width: 235px;
    }

    .btn-estimate {
        background-color: $red;
    }
}
