.home-page {
    .header {
        background: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;

        &__main {
            font-size: 3rem;
        }

        &__sub {
            font-size: 2.75rem;
        }

        &__or {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &__message {
            font-size: 1rem;
        }

        &__link {
            font-size: 1.25rem;
        }
    }
}

.reason-section {
    padding-top: 7rem;
    padding-bottom: 4rem;

    &__item {
        padding-bottom: 40px;
    }

    &__title {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__img {
        height: 36px;
    }
}
