{% extends "base.html" %}

{% load wagtailcore_tags blogapp_tags %}

{% block content %}

<div class="container grid-xl page-content">
    <div class="columns">
        <div class="column col-9 col-md-12 blog-post-content">
            {% if search_term %}
                <header class="page-header">
                  <h1 class="page-title">Search Results for <span>{{ search_type }}: {{ search_term }}</span></h1>
                </header>
            {% endif %}

<!--             <h4 class="">{{ blog_page.title }}</h4> -->

            <div class="intro">{{ blog_page.description }}</div>

            {% for post in posts %}
                <a href="{% post_date_url post blog_page %}" class="no-cursor">
                    <img src="{{ post.image.file.url }}" alt="image" class="img" />
                    <h2 class="mb-0 cursor">{{ post.title }}</h2>
                </a>
                    <p class="blog-post__date">{{ post.date }}</p>
                    {{ post.excerpt | richtext }}
            {% endfor %}
        </div>
        <div class="col-3 hide-md hide-sm hide-xs blog-post-filters">
            
        </div>
    </div>
</div>

{% endblock %}
